{% extends "layout.html" %}
{% block script %}
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script type=text/javascript>
$(document).ready(function() {
  $('#led1on').click(function() {
	$.post('/led/led1on');
	$.getJSON('/printledstatus', {state: $('#led1on').val()},
function(data){$('#result').text(data.result)});
	});
  $('#led1off').click(function() {
    	$.post('/led/led1off');
 	$.getJSON('/printledstatus', {state: $('#led1off').val()},
		function(data){$('#result').text(data.result)});
  });

});
</script>
	{% endblock %}

{% block content %}
<div class="led">
	<h1>Led Control</h1>
	<p>
        <button type="button" id="led1on" class="btn btn-success" value="led1on">ON</button>
	<button type="button" id="led1off" class="btn btn-danger" value="led1off">OFF</button>
	</p>
	<p id=result></p>

</div>
{% endblock %}
